cloudinary==1.41.0

django-cloudinary-storage==0.3.0

crispy-bootstrap5==2024.2

Django==4.2.8

django_axes==6.3.0

django-bootstrap5==24.2

django-csp==3.8

django-ckeditor==6.7.1

django_countries==7.5.1

django-crispy-forms==2.3

django-filter==24.3

django-extensions==3.2.3

django-grappelli==4.0.1

django_phonenumber_field==7.3.0

django-sendgrid-v5==1.2.3

google_api_python_client==2.111.0

protobuf==4.25.2

python-decouple==3.8

python-slugify==8.0.3

pytest==8.3.2

pytest-django==4.8.0

Requests==2.31.0

sendgrid==6.11.0

stripe==7.13.0

twilio==7.17.0

django-twilio==0.14.3.3
