{% extends 'blog_base.html' %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} {# Ensure Bootstrap JavaScript is loaded #}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{# Display a form #}

{% block content %}


<div class="container mt-5">
    <div class="alert alert-danger">
        <h1>Your account has been locked!</h1>
        <p>Due to multiple failed login attempts, your account has been temporarily locked.</p>
        {% if remaining_time %}
            <p>You will be able to log-in again in {{ remaining_time }} minutes.</p>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
        {% endif %}
        <p>If you believe this is a mistake, please contact support.</p>
    </div>
    <a href="{% url 'login' %}" class="btn btn-primary">Support</a>
</div>
{% endblock content %}